extends layout

block content
    div.container
        div.row
            div#header
              h1 Red Core Foundation
              p Landing page 
              b Chat:
            div#msg-panel
                ul#messages
            div#msg-box
                form
                    input(id='m' autocomplete='off' )
                    button Send
            div#footer
                a(href="https://github.com/fredrb/chatastrofic") Fork me on github!
        script(src='/socket.io/socket.io.js')
        script(src='http://code.jquery.com/jquery-1.11.1.js')
        script(src='/javascripts/front-end.js')
